<div style="text-align:center">
  <!--<h1>
    welcome to {{title}} 
   

  </h1>
  <h1>{{outputdata}}</h1>-->
  <!-- <app-test1 [myinputMsg]="myInputMessage" (myOutput) ="GetChildData($event)"></app-test1>-->
 <!--<app-test></app-test>--> 
 <!--<app-customerlist></app-customerlist>-->
 <div style="float:left"> 
  <app-employee-list></app-employee-list>
 </div>
 <div style="float:right">
  <app-employee-details></app-employee-details>
 </div>
 <div>
  <div>
  <app-login-reactive></app-login-reactive>
 </div>
</div>